.todo-item{
  background: #c5c5c5;
  width: 100%;
  padding: 15px 0;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  border: 1px solid black;
  border-radius: 35px;
  box-sizing: border-box;

  span{
    display: block;
    width: 24px;
    margin: 0 10px;
    display: grid;
    place-items: center;
  }
  p{
    vertical-align: center;
    text-align: left;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
  }
  .check{
    &&:hover{
      color: green;
    }
    &&:active{
      color:#085108;
    }
  }
  .close{
    &&:hover{
      color: red;
    }
    &&:active{
      color:#850000;
    }

  }

}
.checked{
  text-decoration: line-through;
}

